<div id="<%= dom_id subscription %>">
  <p>
    <strong>Subscriber:</strong>
    <%= subscription.subscriber_id %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= subscription.book_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= subscription.start %>
  </p>

  <p>
    <strong>Finish:</strong>
    <%= subscription.finish %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= subscription.is_active %>
  </p>

</div>
